body {
    background-color: #efeee7;
    margin: 0px;
    font-size: 18px;
    line-height: 150%;
    font-family: "Georgia", "Times New Roman", 
        Times, serif;
}

h1 {
    color: #efeee7;
    background-color: #333333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

a {
    color: red;
}

h2 {
    
}

img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#main-bio,
#contact-info,
#bio-image
{
    float: left;
}

#contact-info {
    width: 30%;
}

#main-bio {
    width: 70%; 
}

.container {
    width: 1024px;
    margin: 0 auto;
}