body {
    width: 100%;
    font-size: 24px;
}

#ccc {
    background-color: #ccc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;   
}

#drkgrey {
    background-color: #666;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    width: 33.33333%;
}

#midgrey {
    background-color: #888;
    text-align: center;
    color:  white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 33.33333%;
}

#drkgrey, #midgrey {
    
    float: left;
}

#eee {
    background-color: #eee;
    width: 100%;
    text-align: right;
    margin-top: 100px;
    border-bottom: 20px;

}

#fff {
    background-color: #fff;
    display: block;

    width: 15%;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    text-align: center;
    float: left;
}

#divme {
    background-color: #6ea3da;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 27px;
    text-align: center;
}

#cccf {
    background-color: #ccc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;   
}

.clearfix::after {
    content: "";
    display: block;
    clear:  both;
}

#whitespace {
    background-color: white;
    margin-top: 20px;

}