/*CSS Work*/ 

header,
section,
footer {
    margin: 0 1.5% 24px 1.5%;
}

body {
    background-color: darkslategrey;
}

div.body {
    /*width: 100%;*/
    background-color: lightgrey;
    border-radius: 10px;
}

div.group {
    position: relative;
}

.trail {
    background-color: #e318;
    text-align: center;
    padding: 20, 0, 20, 0;
    color: #eee;
    /*width: 100%;*/
    border-radius:  10px;
}

.group:before, 
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear:both;
    *zoom: 1;
}

section.left,
section.middle,
section.right {
    float: left;
    width: 30%;
    margin: 0 1.5%;
    border-radius: 10px;
    border: 20px;
    border-color: darkslategrey;
    background-color: skyblue;
    padding: 20 2;
    font-size: 24px;
    text-align: center;
    position: 0 33%;
}

footer {
    margin-top: 20px;
}